[submodule "2. sem/ivs/proj2/IVS 2.proj"]
	path = 2. sem/ivs/proj2/IVS 2.proj
	url = git@REMOTE_URL:C:/repository/git/FIT/Projects/2. sem/ivs/proj2/IVS 2. proj/
[submodule "2. sem/ivs/proj3/Paprika"]
	path = 2. sem/ivs/proj3/Paprika
	url = git@REMOTE_URL:/2. sem/ivs/proj3/Paprika/
[submodule "2. sem/ivs/proj3/PaprikaCalc"]
	path = 2. sem/ivs/proj3/PaprikaCalc
	url = C:/submodule/paprika/paprika
[submodule "2. sem/IVS/proj2/BitParity"]
	path = 2. sem/IVS/proj2/BitParity
	url = C:\\IVS 2.proj
